@model YellowCart.Models.Users

@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model.FirstName</span>
                <span class="text-black-50">@Model.Email</span>
                <span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                 
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                   
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="row mt-2">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Email" />
                        <div class="col-md-6">
                            <label class="labels" asp-for="FirstName">
                               </label>
                            <<input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    <div class="col-md-6">
                            <label class="labels" asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" >
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                            <label class="labels" asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" >
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                          <div class="col-md-12">
                              <label asp-for="Password" class="labels"></label>
                            <input asp-for="Password" class="form-control" >
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="ConfirmPassword" class="labels"></label>
                            <input asp-for="ConfirmPassword" class="form-control" >
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                 </div>
    
            
                    </br>

                    <div class="mt-5 text-center"><input class="btn btn-primary profile-button" type="submit" value="Save"></div>
              
            </div>
        </div>
       
    </div>
</div>
</form>
@*
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType" class="control-label"></label>
                <input asp-for="UserType" class="form-control" />
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
